<h3>Change labyrinth</h3>
<% @width = "512" %>
<% @height = "512" %>
<canvas id="myCanvas" width=<%= @width %> height=<%= @height %>></canvas>
<div data-controller="edit"></div>
<%= button_to 'Back', home_path, method: :get %>
<%= button_to 'Reset', '/change_labyrinth', method: :get %>
<%= button_to 'Save', '/change_labyrinth', method: :get %>