<h3>Edit labyrinth</h3>
<% @width = "512" %>
<% @height = "512" %>

<div data-controller="edit">
  <canvas id="myCanvas" width=<%= @width %> height=<%= @height %>></canvas>
  <%= button_to 'Back', '/menu', method: :get %>
  <%= button_to 'Clear', '/edit_labyrinth', id: "clear", method: :get %>
  <%= button_to 'Reset', '/edit_labyrinth', method: :get %>
  <button id='getData' onclick="getData()">Save</button>
  <script>
      async function getData() {
          let labyrinth = {
              field: localStorage.getItem('field')
          };

          const token = document.querySelector('meta[name="csrf-token"]').content;

          let response = await fetch('/save_labyrinth', {
              method: 'POST',
              headers: {
                  "X-CSRF-Token": token,
                  "Content-Type": "application/json"
              },
              body: JSON.stringify(labyrinth)
          });

          let result = await response.json();
          alert(result.message);
      }
  </script>
</div>
