<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <span class="navbar-brand">
    Treasure
  </span>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/home">Home</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <a class="nav-link" href="/account">Edit account</a>
        </li>
      <%end%>
    </ul>
    <% if user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <form class="button_to" method="post" action="/logout">
            <input type="hidden" name="_method" value="delete" autocomplete="off">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Logout</button>
          </form>
        </li>
      </ul>
    <%end%>
    <% unless user_signed_in? %>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
      </ul>
      <form class="button_to" method="get" action="/sign_up">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Sign Up</button>
      </form>
    <% end %>
  </div>
</nav>
<%= form_with model: @user, url: account_path, method: :put do |form| %>
  <%= render partial: "shared/form_errors", locals: { object: form.object } %>
  <div>
    <%= form.label :email, "Current Email" %>
    <%= form.email_field :email, disabled: true %>
  </div>
  <div>
    <%= form.label :unconfirmed_email, "New Email" %>
    <%= form.text_field :unconfirmed_email %>
  </div>
  <div>
    <%= form.label :password, "Password (leave blank if you don't want to change it)" %>
    <%= form.password_field :password %>
  </div>
  <div>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation %>
  </div>
  <hr/>
  <div>
    <%= form.label :current_password, "Current password (we need your current password to confirm your changes)" %>
    <%= form.password_field :current_password, required: true %>
  </div>
  <%= form.submit "Update Account" %>
<% end %>

<h2>Current Logins</h2>
<% if @active_sessions.any? %>
  <%= button_to "Log out of all other sessions", destroy_all_active_sessions_path, method: :delete %>
  <table>
    <thead>
    <tr>
      <th>User Agent</th>
      <th>IP Address</th>
      <th>Signed In At</th>
      <th>Sign Out</th>
    </tr>
    </thead>
    <tbody>
    <%= render @active_sessions %>
    </tbody>
  </table>
<% end %>